.m-typo {
  padding-top: 20px;
  padding-bottom: 20px; 

  h2,h3 {    
    margin: 10px 0;

    color: $rosewood;
  }

  h4,h5,h6 {
    margin: 10px 0;

    color: $charm;
  }

  a {
    color: $charm;
  }

  p {
    margin: 20px 0;

    text-align: justify;
  }

  ul {

    li {
      margin-bottom: 5px;
    }
  }

  &-reset-padding {
    padding: 0;
  }
}