
body {
  font-family: 'Roboto', sans-serif;

  // height: auto;

  // background-color: #f1f1f1;
  // background-image: url(../images/back.png);
  // background-repeat: no-repeat;
  // background-color: #f1f1f1;
  // background-position: top;

  // font-size: 14px;
  @include sticky-footer(292px, "#sticky_footer_head", "#sticky_footer_in_head", "#sticky_footer_foot")
}

label {
  position: relative;

  padding-left: 64px;

  font-weight: 500;
  font-size: 22px;
  color: $metallic-copper;

  cursor: pointer;

  &>i {
    @include stretch(-4px, false, false, 5px);

    display: inline-block;
    width: 36px;
    height: 36px;

    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  &>input[type="checkbox"] {
    visibility: hidden;
    display: none;    
  }

  &>b {
    color: $gray-dark;
  }

  &>span {
    color: $amaranth;
  }
}


button {
  padding: 15px;
  
  background-color: $thunderbird;
  border: none;
  box-shadow: none;

  text-align: center;
  color: $white;
  font-size: 18px;

  &:hover {
    color: rgba($white, 0.75);
  }
}
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {  
  font-family: 'Roboto Condensed', sans-serif; 
 }

input[type="text"],
textarea {
  margin-bottom: 10px;
  
  outline: none;
  border: none;
  border-bottom: 2px $amaranth solid;
  background: none;

  font-size: 16px;

  &:focuse {
    outline: none;
  }

}