
a:hover {
  text-decoration: none;
}

// разные состояния ссылок в главном меню хедера
.m-nav--link {
  &:hover,
  &.active {
    border-bottom: 2px $charm solid;

    text-decoration: none;
    color: $charm;
  }
}

.m-nav--link-foot {
  &:hover,
  &.active {
    border-bottom: 2px $amaranth solid;

    text-decoration: none;
    color: $white;
  } 
}

// ссылка на конструктор с главной страницы
.m-offer--to-constructor:hover {
  color: rgba($white, 0.75);
}

// состояние активной ссылки в фильтрах на странице списка продукции
.m-filters--link {
  &:hover,
  &.active {
    text-decoration: underline;

    color: $amaranth;
  }
}

// кастомизированые чекбоксы для всего сайта
label {

  &>i {
    background-image: url('../images/empty-check.png');
  }

  &>input[type="checkbox"]:checked {

    &+i {
      background-image: url('../images/fil-check.png');
    }
  }
}

// ховер еффект при наведени на ячейку товара на списке товаров
.m-cat-list--item:hover {
  @include box-shadow(0 0 10px 10px rgba($thunderbird, 0.3));
}
