.l-content-catalog {
  background-image: url('../images/bg-catalog.png');
  background-repeat: repeat-x;
  background-position: 0 90px;
  // background-size: 103%; 

  @media screen and (max-width: 1024px) {
    // background-position: 0 12%;
  }
}